<div class="panel">
  <div class="panel-body">
    <%= image_tag gravatar_url(message.user), class: "img-circle avatar-small" %>
    <strong><%= message.user.name %></strong>

    <span class="pull-right">
      <%= message.message_time %>
    </span>
    <br>
    <div class="row-space-2">
      <%= message.content %><br>
      <% if current_user?(message.user) %>
        <%= link_to "delete", [@conversation, message], method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </div>
  </div>
</div>
