<%= form_for [@category, @post] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter title" %>

    <%= f.label :body %>
    <%= f.text_area :body, rows: 12, class: 'form-control', placeholder: "Enter body" %>
  </div>

  </br>
  <strong>Neighborhood location:</strong>
 
  <div class="well">
    <%= f.fields_for :location do |location| %>
      <%= render 'locations/form', f: location %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit Post", class: 'btn btn-success btn-lg' %>
  </div>
<% end %>