<% provide(:title, 'Create a new category') %>
<div class="container">
  <div class="well">
    <%= form_for @category do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 2, class: 'form-control' %>
    </div> 

    </br> 
      <%= f.submit "Edit category", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
