<div class="form-group">
  <%= f.check_box :_destroy %> 
  <%= f.label :_destroy, "Don't need to show location" %> 
  </br>
  
  <%= f.label :street %> (optional)
  <%= f.text_field :street, class: 'form-control',placeholder: "123 A Street" %>

  <%= f.label :city %>
  <%= f.text_field :city, class: 'form-control',placeholder: "San Francisco" %>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode, class: 'form-control',placeholder: "94000" %>

  <%= f.label :state %>
  <%= f.text_field :state, class: 'form-control',placeholder: "CA" %>

</div>
